<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <h1>Bienvenido al sitio</h1>
        
        <a th:href="@{/agregar}">Nueva Persona</a>
        <br/><br/>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teleefono</th>
                </tr>
                <tr th:each="persona :${personas}">
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.telefono}"></td>
                </tr>
            </table>
            <div th:if="${personas == null or personas.empty}">
                !No hay registros¡
            </div>
        </div>
    </body>
</html>
